.header {
  width: 100%;
  position: relative;
  padding-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.header__title {
  font-size: 7.2rem;
  font-family: Lemon;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

.header__history-link {
  position: absolute;
  right: 5.8rem;
  top: 5.4rem;
}
