.adding__note {
  display: flex;
  width: 134rem;
  height: 4.6rem;
  margin: 0 auto;
  background: #ffeac0;
  margin-bottom: 2rem;
}

.adding__confirm,
.adding__delete {
  width: 4.6rem;
  width: 4.6rem;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  background: #ffeac0;
  border: none;
  outline: none;
}

.adding__confirm:active,
.adding__confirm:focus {
  outline: none;
}

.adding__circle {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field {
  border: 0;
  outline: none;
  border-left: 0.1rem solid #fff;
  border-right: 0.1rem solid #fff;
  background-color: #ffeac0;
  padding-left: 3.1rem;
  font-size: 2.4rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

.field:last-of-type {
  border-left: 0;
}

.field__title {
  width: 35rem;
}

.field__description {
  width: 90rem;
}
