.adding__note {
  display: flex;
  width: 134rem;
  height: 4.6rem;
  margin: 0 auto;
  background: #ffeac0;
  margin-bottom: 2rem;
}

.adding__confirm,
.adding__delete,
.adding__edit {
  width: 4.6rem;
  height: 4.6rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  background: #ffeac0;
  border: none;
  outline: none;
}

.adding__confirm:active,
.adding__confirm:focus {
  outline: none;
}

.adding__circle {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field {
  border: 0;
  outline: none;
  border-left: 0.1rem solid #fff;
  background-color: #ffeac0;
  padding-left: 3.1rem;
  font-size: 2.4rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

.field__title {
  width: 35rem;
}

.field__description {
  width: 100%;
}

.adding__delete {
  border-left: 0.1rem solid #fff;
}

.adding__edit {
  border-left: 0.1rem solid #fff;
}

.adding__edit-icon {
  width: 2.2rem;
  height: 2.2rem;
}

.adding__delete-icon {
  width: 1.2rem;
  height: 1.2rem;
}

.adding__calendar-icon {
  width: 1.4rem;
  height: 1.4rem;
  transform: translateY(-0.1rem);
}

.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 18rem;
  padding: 0.5rem;
  border-left: 0.1rem solid #fff;
}

.date__content {
  display: block;
  font-size: 1.6rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #000;
  margin: 0 !important;
}
